<h2>Listado clientes</h2>
<!-- Creamos una tabla que introduzca una fila por cada objeto de la array -->
<table>
    <div *ngFor="let form of tabla">
        <tr>
            <td>{{form.nombre}}</td>
            <td>{{form.cif}}</td>
            <td>{{form.direccion}}</td>
            <td>{{form.grupo}}</td>
            <!-- Creamos un botón que elimine este objeto -->
            <td><button name="eliminar" (click)="eliminar(form.id)">Eliminar</button></td>
        </tr>
        <hr>
    </div>
</table>