/* You can add global styles to this file, and also import other style files */

.stForm{
    width: 25vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}